#container{width: 500px; margin: 20px auto;}
fieldset{border:#ccc 1px solid; margin-bottom: 35px;}
legend{font-size: 1.2em; font-weight: bold; margin-left: 10px;}
ul{list-style: none;}
li{margin:20px}
.field{width: 60px; float: left; line-height: 2em; text-align: right; margin-right: 10px;}
.input-box{width: 250px; height: 30px; border: 1px solid #aaa; border-radius: 5px;}
.order{width: 100%; padding: 10px; font-size: 1em; border: 1px solid #ccc;}
.order:hover{border: 1px solid #999; background-color:#bbb ; color:rgb(223, 35, 35)}
.check:hover{color: #eb843f;}