*{margin: 0; padding: 0;}
#container{width: 1000px; margin: 0 auto}
#container > h1{text-align: center;}
.pic1{background-image: url(../image/prod1.jpg);}
.pic2{background-image: url(../image/prod2.jpg);}
.pic3{background-image: url(../image/prod3.jpg);}
.productList{list-style: none; margin-top: 30px;}
.productList li{display: inline-block; margin: 5px 10px; }
.caption{width: 300px; height: 200px; background: rgba(0, 0, 0, 0.3); color: white; visibility: hidden;}
.productList li:hover .caption{visibility:visible;}