*{margin:0; padding:0; box-sizing: border-box;}
#wrap{width: 240px; height: 340px; border:2px solid #ccc; margin: 2px auto; 
    padding: 40px 20px; background: url(../images/notice.jpg);}
h3{color: blue; padding: 10px}
ul li{margin:10px 30px}