*{margin: 0; padding: 0;}
body{height: 100vh; display: flex; flex-direction: row; align-items: center; justify-content: center;}
.box{width: 200px; height: 200px;}
.timerBox{width: 200px; outline: 2px solid black;}
.timerBox .time{font-size: 30pt; color: #444; text-align: center;}
.btnBox{margin: 20px auto; text-align: center;}
.btnBox .fa{margin: 0px 5px; font-size: 30px; color: #000; cursor: pointer;}

/* fontawsome 애니메이션 이미지 */
#img{width: 200px; height: 200px; position: relative;}
#run{font-size: 100px; width: 200px; height: 200px; line-height: 200px; text-align:center; 
    position: absolute; display: none;}
#walk{font-size: 100px; width: 200px; height: 200px; line-height: 200px; text-align:center; 
    position: absolute;}
#bed{font-size: 100px; width: 200px; height: 200px; line-height: 200px; text-align:center; 
    position: absolute; display: none;}