<style>
.swiper{width: 100%;}

      .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 400px;
        height: 400px;
      }

      .swiper-slide img {
        display: block;
        width: 100%;
      }
</style>