#content{width:1000px; margin: 50px auto;}
ul{list-style:none;}
ul li{margin: 20px;} 
.reg{width:80px; float:left}
    /* label에 크기를 주면 배치가 가능 */
input{width: 150px; height: 25px;}
select{width: 160px; height: 30px;}
button{margin-left: 60px;}